<style>

img {
    max-width:100%;
}
ol {
    padding-left:0px;
}
</style>

<div class="articulo-blog-menu-lat">
    <div class="row justify-content-center">
        <div class="contenedor-tags">
            {% for tag  in article.tags limit:2 %}
            <span>{{ tag.title }} </span>
            {% endfor %}
        </div>
        <h1>{{ article.title }}</h1>
        <img class='article-main-banner' src="{{ article.image.src | img_url: '1920x600'  }}" alt="" data-rimg="lazy" loading="lazy">
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-7 contenido-articulo">
            {{ article.content }}
            <div class="row">
                <div class="container-share-social">
                    <div class="contenedor-links">
                        <p>Compartir por: </p>
                        <a href="https://wa.me/?text=https://www.jamar.com.pa{{article.url}}" class="icon">
                            <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/mingcute_whatsapp-line.svg?v=1683222653" alt="" data-rimg="lazy" loading="lazy">
                        </a>
                        <a href="https://www.facebook.com/sharer.php?u=https://www.jamar.com.pa{{article.url}}" class="icon">
                            <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/ri_facebook-fill.svg?v=1683222653" alt="" data-rimg="lazy" loading="lazy">
                        </a>
                        <a href="https://twitter.com/share?url=https://www.jamar.com.pa{{article.url}}" class="icon">
                            <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/mdi_twitter.svg?v=1683222653" alt="" data-rimg="lazy" loading="lazy">
                        </a>
                        <a href="https://www.linkedin.com/shareArticle?url=https://www.jamar.com.pa{{article.url}}" class="icon">
                            <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/mdi_linkedin.svg?v=1683222653" alt="" data-rimg="lazy" loading="lazy">
                        </a>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="container-blog-next-prev container">
                    <div class="container-pagination">
                        {% if blog.previous_article %}
                        <a href="{{blog.previous_article }}">
                            <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/ic_round-keyboard-arrow-left.svg?v=1682023817" alt=""  data-rimg="lazy" loading="lazy">
                            <div class="contenedor-texto">
                                <p class="title">Anterior</p>
                                <p> {{ blog.previous_article.title }} </p>
                            </div>
                        </a>
                        {% endif %}
                    </div>
                    <div class="container-pagination">
                        {% if blog.next_article %}
                        <a href="{{ blog.next_article }}?view=blog">
                            <div class="contenedor-texto">
                                <p class="title next-article">Siguiente</p>
                                <p class="">{{ blog.next_article.title }}</p>
                            </div>
                            <img class="invert" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/ic_round-keyboard-arrow-left.svg?v=1682023817" alt="" data-rimg="lazy" loading="lazy">
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>


        </div>
        <div class="col-md-5">
            <div class="contenedor-articulos-relacionados">
                <h5>Articulos relacionados</h5>
                {% if article.tags.size > 1 %}
                    <a class="contenedor-articulos">
                        <img src="" alt="" data-rimg="lazy" loading="lazy">
                        <p>Elemental para todos los hogares: ¡Funcionalidad que deslumbra!</p>
                    </a>
                    <a class="contenedor-articulos">
                        <img src="" alt="" data-rimg="lazy" loading="lazy">
                        <p>Elemental para todos los hogares: ¡Funcionalidad que deslumbra!</p>
                    </a>
                    <a class="contenedor-articulos">
                        <img src="" alt="" data-rimg="lazy" loading="lazy">
                        <p>Elemental para todos los hogares: ¡Funcionalidad que deslumbra!</p>
                    </a>
                    <a class="contenedor-articulos">
                        <img src="" alt="" data-rimg="lazy" loading="lazy">
                        <p>Elemental para todos los hogares: ¡Funcionalidad que deslumbra!</p>
                    </a>
                    <a class="contenedor-articulos">
                        <img src="" alt="" data-rimg="lazy" loading="lazy">
                        <p>Elemental para todos los hogares: ¡Funcionalidad que deslumbra!</p>
                    </a>
                {% else %}

                {% assign articleLins = article.url | split: '/'  %}
                {% assign blogCategory = articleLins %}
                    {% assign blogQuery = blogs[articleLins[2]].articles %}

                    {% for item in blogQuery limit: 5 %}
                        <a class="contenedor-articulos">
                            <img src="{{ item.image.src | image_url: width: 200 }}" alt="" data-rimg="lazy" loading="lazy">
                            <p>{{ item.title }}</p>
                        </a>
                    {% endfor %}


                {% endif %}
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Contenido Article",
    "class":"article-section",
    "settings": [
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Imagen"
        }
    ],
  "blocks": [
     {
       "name": "blogs",
       "type": "blog_type",
       "settings": [
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        },
        {
            "type": "image_picker",
            "id": "blog_image",
            "label": "Imagen del blog"
          }
       ]
     }
   ],
      "presets": [
        {
        "name": "Contenido Article"
        }
      ]
  }
{% endschema %}

