<br><br><br>
<div class="container-fluid skeleton p-0" id="{{section.settings.id_section}}">
  {% if section.settings.title != blank %}
    <div class="row justify-content-center m-0 m-md-4">
      <div class="col-11 col-md-8 p-0">
        <h2 class="text-center text-dark-gray mb-3">{{ section.settings.title }}</h2>
        {% if section.settings.text != blank %}
          <p class="text-dark-gray mt-2 text-center">{{ section.settings.text }}</p>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-12">
        <a href="{{ section.settings.url }}">
            <div class="position-relative bg-medium-gray sk-banner-with-grid w-100">
                {% if section.settings.tipo == "imagen" %}
                  {% if section.settings.image_desktop != blank %}
                    <img class="d-none d-md-block w-100" alt="{{ section.settings.image_desktop.alt}}" src="{{ section.settings.image_desktop | img_url:'1600x541' }}" data-rimg="lazy" loading="lazy">
                  {% endif %}
                  {% if section.settings.image_mobile != blank %}
                    <img class="d-block d-md-none w-100" alt="{{ section.settings.image_mobile.alt}}" src="{{ section.settings.image_mobile | img_url:'1600x541' }}" data-rimg="lazy" loading="lazy">
                  {% endif %}
                {% else %}
                  <video class="d-none d-md-block w-100" loop muted playsinline autoplay>
                    <source src="{{section.settings.video_object.sources[1].url }}" type="video/mp4">
                  </video>
                  <video class="d-block d-md-none w-100" loop muted playsinline autoplay>
                    <source src="{{section.settings.video_object_movil.sources[1].url }}" type="video/mp4">
                  </video>
                {% endif %}
                {% if section.settings.box_title != blank or
                      section.settings.box_subtitle != blank or 
                      section.settings.boton != blank %}
                  <div class="position-absolute top-md-50 start-50 translate-middle p-4 banner-box {% if section.settings.fondo %}top-100 bg-light-gray opacity-95{% else %}top-50{% endif %} text-center sk-banner-with-grid mt-4 mt-md-0">
                    {% if section.settings.box_title != blank %}
                      <h2 class="text-gris-jamar fw-bold">{{ section.settings.box_title }}</h2>
                    {% endif %}  
                    {% if section.settings.box_subtitle != blank %}
                      <p class="text-gris-jamar">{{ section.settings.box_subtitle }}</p>
                    {% endif %}
                    {% if section.settings.boton != blank %}
                      <button class="btn bg-gris-jamar rounded rounded-pill opacity-9 text-white">{{ section.settings.boton }}</button>
                    {% endif %}
                  </div>
                {% endif %}
            </div>
        </a>
    </div>
  </div>
  <div class="container contenedor-cards">
    <div class="row scroll-grid">
      {% for block in section.blocks %}
        {% if block.type == "card" %}
          <div class="col-10 col-sm-4 col-md mb-4">
            <a href="{{ block.settings.enlace }}" class="text-decoration-none">
              <div class="w-100">
                <img class="shadow-hover-80 w-100 bg-medium-gray sk-categorias-grid" src="{{ block.settings.imagen | image_url: width: auto}}" data-rimg="lazy" loading="lazy"/>
                <a class="text-gris-jamar a-coleccion" href="{{ block.settings.enlace }}">
                  {{ block.settings.textoimage | replace: '<p>', '<p class="mb-0">' }}
                </a>
              </div>
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script type="text/javascript">
  const bannerBox = document.querySelector('.banner-box');
  const bannerBoxHeight = bannerBox.clientHeight;
  console.log(bannerBoxHeight)
  document.documentElement.style.setProperty('--altura-bannerBox', `${bannerBoxHeight}px`);
</script>


<style type="text/css">
  @media (min-width:0) and (max-width: 767px){
    #shopify-section-{{ section.id }} .contenedor-cards{
      {% if section.settings.fondo %}
        margin-top: calc(var(--altura-bannerBox) / 2 + 1.5rem + 1.5rem);
      {% else %}
        margin-top: 1.5rem;
      {% endif %}
    }
  }
  @media (min-width:768px) {
    .contenedor-cards{
      margin-top: 1.5rem;
    }
  }
</style>


{% schema %}
  {
    "name": "banner-with-grid",
    "class": "banner-with-grid",
    "settings": [
      {
        "type": "text",
        "id": "id_section",
        "label": "ID de la seccion",
        "default": "banner-with-grid",
      "info": "Si utilizas esta sección en más de una ocasión coloca un indicador de posición. Ejem: banner-with-grid-1, banner-with-grid-2"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Titulo"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Texto"
      },
      {
        "type": "select",
        "id": "tipo",
        "label": "Tipo de banner",
        "options": [
          {
            "value": "video",
            "label": "Video"
          },
          {
            "value": "imagen",
            "label": "Imagen"
          }
        ],
        "default": "imagen"
      },
      {
       "type": "image_picker",
       "id": "image_desktop",
       "label": "Image desktop"
      },
      {
       "type": "image_picker",
       "id": "image_mobile",
       "label": "Image mobile"
      },
      {
        "type": "video",
        "id": "video_object",
        "label": "Agregar video Desktop",
        "info": "El video no debe contener sonido y el tamaño recomendado es 1920x500"
      },
      {
        "type": "video",
        "id": "video_object_movil",
        "label": "Agregar video para movil",
        "info": "El video no debe contener sonido y el tamaño recomendado es 375x260"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Link de la seccion"
      },
      {
        "id": "fondo",
        "type": "checkbox",
        "label": "Fondo del contenedor"
      },
      {
        "type": "text",
        "id": "box_title",
        "label": "Titulo de la caja",
        "default": "Titulo de la caja"
      },
      {
        "type": "text",
        "id": "box_subtitle",
        "label": "Subtitulo de la caja",
        "default": "Subtitulo de la caja"
      },
      {
        "type": "text",
        "id": "boton",
        "label": "Boton de la caja"
      },
      {
        "type": "number",
        "id": "margen",
        "label": "Separacion de tarjetas",
        "default": 100
      }
    ],
         "blocks": [
      {
        "name": "Card",
        "type": "card",
        "settings": [
          {
            "type": "image_picker",
            "id": "imagen",
            "label": "Imagen de la tarjeta",
            "info": "300 x 300"
          }, {
            "id": "textoimage",
            "type": "richtext",
            "label": "Texto de la tarjeta",
            "default": "<p>Texto de la tarjeta</p>"
          }, {
            "type": "url",
            "id": "enlace",
            "label": "Link de la tarjeta",
            "info": "Insertar el enlace de la tarjeta"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "banner-with-grid"
      }
    ]
  }
{% endschema %}