{% assign css = 'static-header-blog.css' | asset_url %}
{% assign js = 'search.js' | asset_url %}
{% assign blogItem = section.blocks %}

<link rel="stylesheet" href="{{ css }}">

<style type="text/css">
  .nav-link.active {
    border-bottom: 2px solid #404B5A;
  }
  a:hover img {
    filter: brightness(0.6);
  }
  .categoria-principal-card:hover img {
      overflow: hidden;
      transform: scale(1.2);
      transition: all 1s;
  }
</style>

<header class="main-header-blog container-fluid p-0">
  <nav class="navigation container">
    <ul class="items list-style-none">
      <li class="logo-container">
        <a href="/blogs/jamar">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/muebles-jamar-marca-registrada.svg" alt="Informacion" class="w-80" data-rimg="lazy" loading="lazy">
        </a>
      </li>
      <li class="button-menu d-md-none">
        <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/menu.svg?v=1682007754" alt="" data-rimg="lazy" loading="lazy">
        </button>
      </li>
      <li class="container-search">
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icon-search.svg?v=1682008554" alt="" data-rimg="lazy" loading="lazy">
          <input type="text" placeholder="¿Qué estás buscando?" id="search-blog">
        </div>

        <div class="container-results not-loading">
        </div> 
      </li>
      <div class="d-none d-md-block btn-group" role="group" aria-label="Basic example">
        <a href="https://www.jamar.com.pa">
        <button type="button" class="btn bg-dark-gray text-white me-1 ps-4 pe-4">Ir a jamar.com.pa</button></a>
        <a href="https://tarjetizacion.jamar.com.pa/form-one?utm_source=jamar&utm_medium=ecommerce">
        <button type="button" class="btn bg-gray text-white ps-4 pe-4">Solicita tu crédito</button></a>
      </div>
      <li class="d-none">
        <a class="btn rounded-0 bg-dark-gray text-white me-3 ps-4 pe-4" href="https://www.jamar.com.pa">Ir a jamar.com.pa</a>
        <a class="btn rounded-0 bg-gray text-white ps-4 pe-4" href="https://tarjetizacion.jamar.com.pa/form-one?utm_source=jamar&utm_medium=ecommerce"> Solicita tu crédito </a>
      </li>
    </ul>
  </nav>

  <ul class="nav justify-content-center bg-light-gray p-0 d-none d-md-flex">
    <li class="nav-item">
      <a class="text-uppercase text-dark-gray fw-bold fs-7 nav-link" href="/blogs/jamar">INICIO</a>
    </li>
    {% for item in blogItem %}
      <li class="nav-item">
        <a class="nav-link text-uppercase text-dark-gray fw-bold fs-7" href="{{ item.settings.blog.url }}?view=categoria">{{item.settings.blog.title }}</a>
      </li>
    {% endfor %}
  </ul>




  
</header>

<script src="{{ js }}"></script>
<script>
(function() {
  var enlaces = document.querySelectorAll('.nav-link');
  
  function mostrarEnlaceActivo() {
    for (var i = 0; i < enlaces.length; i++) {
      enlaces[i].classList.remove('active');
    }
    
    this.classList.add('active');
  }
  
  for (var i = 0; i < enlaces.length; i++) {
    var href = enlaces[i].getAttribute('href');
    var currentPath = window.location.pathname + window.location.search;
    
    if (currentPath === href) {
      enlaces[i].classList.add('active');
    }
    
    enlaces[i].addEventListener('click', mostrarEnlaceActivo);
  }
})();
</script>

{% comment %} Contenedor del menú expandido en movil {% endcomment %}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
  <div class="offcanvas-header">
    <h5 id="offcanvasRightLabel"></h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body movil-header-body">
    <ul>
      <li class="text-decoration-none mb-4">
        <a class="text-dark-gray text-uppercase" href="/blogs/jamar">INICIO</a>
      </li>
      {% for item in blogItem %}
        <li class="text-decoration-none mb-4">
          <a class="text-dark-gray text-uppercase" href="{{ item.settings.blog.url }}?view=categoria">{{item.settings.blog.title }}</a>
        </li>
      {% endfor %}    

      
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn bg-dark-gray fs-6 text-white me-1">Ir a jamar.com.pa</button>
        <button type="button" class="btn bg-gray fs-6 text-white">Solicita tu crédito</button>
      </div>
      
      <li class="d-none">
        <a class="btn rounded-0 bg-dark-gray text-white mt-2 me-2" href="https://www.jamar.com.pa">Ir a jamar.com.pa</a>
        <a class="btn rounded-0 bg-gray text-white mt-2" href="https://tarjetizacion.jamar.com.pa/form-one?utm_source=jamar&utm_medium=ecommerce"> Solicita tu crédito </a>
      </li>
    </ul>
  </div>
</div>




{% schema %}
  {
    "name": "Header Blog",
    "settings": [
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Imagen"
        }
    ],
  "blocks": [
     {
       "name": "blogs",
       "type": "blog_type",
       "settings": [
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        },
        {
            "type": "image_picker",
            "id": "blog_image",
            "label": "Imagen del blog"
          }
       ]
     }
   ],
      "presets": [
        {
        "name": "Header Blog"
        }
      ]
  }
{% endschema %}