<br><br><br>
<div class="container" id="{{ section.settings.id_section }}">
  <div class="row justify-content-center">
    <div class="col-11 col-md-8 p-0">
      <h2 class="text-center text-dark-gray mb-3">{{ section.settings.title }}</h2>
      <p class="text-dark-gray mt-2 text-center">{{ section.settings.text }}</p>
      <br>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 p-xs-0">
      <div id="myCarousel" class="carousel slide bg-light-gray h-md-100" data-bs-ride="carousel">
        <div class="carousel-inner h-md-100">
          {% for block in section.blocks %}
            <div class="carousel-item h-md-100 {% if forloop.index == 1 %}active{% endif %}">
                <a class="" href="{{  block.settings.blog.url }}">
                  {{ block.settings.image | image_url : width: 972 | image_tag: class: 'img-fluid h-md-65', format: 'webp', data-rimg: 'lazy', loading: 'lazy' }}
                </a>
                <div class="bg-light-gray d-flex align-self-end align-items-center justify-content-center p-3 h-md-35" style="">
                  <div class="text-center">
                    <p class="text-dark-gray mb-2">{{ block.settings.tema }}</p>
                    <h3 class="fs-6 fs-md-4 text-dark-gray fw-bold">{{ block.settings.titulo }}</h3>
                    <a class="text-dark-gray b text-decoration-underline" href="{{  block.settings.blog.url }}">Leer más</a>
                  </div>
                </div>
            </div>
          {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="col-12 col-lg-6 mt-4 mt-lg-0 d-lg-grid">
      <div class="row">
        <div class="col-12 h-50 ps-xs-0 pe-xs-0 pb-0 pb-lg-3">
          <div class="row d-flex w-100 ms-0">
            <div class="col-5 p-0">
              <a class="" href="{{ section.settings.blog_top.url }}">
                {{ section.settings.image_blog_top | image_url : width: 425 | image_tag: class: 'img-fluid', format: 'webp', data-rimg: 'lazy', loading: 'lazy' }}
              </a>
            </div>
            <div class="col-7 bg-light-gray d-flex align-items-center">
              <div class="text-start pe-2">
                <p class="text-dark-gray mb-2">{{ section.settings.tema_blog_top }}</p>
                <h3 class="fs-6 fs-md-4 text-dark-gray fw-bold">{{ section.settings.titulo_blog_top }}</h3>
                <a class="text-dark-gray text-decoration-underline" href="{{ section.settings.blog_top.url }}">Leer más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row d-flex align-self-end">
        <div class="col-12 h-50 ps-xs-0 pe-xs-0 mt-4 mt-lg-0 pt-lg-2">
          <div class="row d-flex w-100 ms-0">
            <div class="col-5 p-0">
              <a class="" href="{{ section.settings.blog_bottom.url }}">
                {{ section.settings.image_blog_bottom | image_url : width: 425 | image_tag: class: 'img-fluid', format: 'webp', data-rimg: 'lazy', loading: 'lazy' }}
              </a>
            </div>
            <div class="col-7 bg-light-gray d-flex align-items-center">
              <div class="text-start pe-2">
                <p class="text-dark-gray mb-2">{{ section.settings.tema_blog_bottom }}</p>
                <h3 class="fs-6 fs-md-4 text-dark-gray fw-bold">{{ section.settings.titulo_blog_bottom }}</h3>
                <a class="text-dark-gray text-decoration-underline" href="{{ section.settings.blog_bottom.url }}">Leer más</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

 
{% schema %}
{
  "name": "Blog-post",
  "settings": [
    {
      "type": "text",
      "id": "id_section",
      "label": "ID de la seccion",
      "default": "blog-post"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titulo"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Texto"
    },
    {
     "type": "image_picker",
     "id": "image_blog_top",
     "label": "Imagen derecho top 425 x 415"
    },
    {
      "type": "text",
      "id": "tema_blog_top",
      "label": "Categoria del blog",
      "default": "Categoria del blog derecho top"
    },
    {
      "type": "text",
      "id": "titulo_blog_top",
      "label": "Titulo",
      "default": "Titulo derecho top"
    },
    {
      "type": "url",
      "id": "blog_top",
      "label": "Url Blog derecho top"
    },
    {
     "type": "image_picker",
     "id": "image_blog_bottom",
     "label": "Imagen derecho bottom 425 x 415"
    },
    {
      "type": "text",
      "id": "tema_blog_bottom",
      "label": "Categoria del blog",
      "default": "Categoria del blog derecho bottom"
    },
    {
      "type": "text",
      "id": "titulo_blog_bottom",
      "label": "Titulo",
      "default": "Titulo derecho bottom"
    },
    {
      "type": "url",
      "id": "blog_bottom",
      "label": "Url Blog derecho bottom"
    }
  ],
  "blocks": [
     {
       "name": "Slide",
       "type": "Slide",
       "settings": [
        {
         "type": "image_picker",
         "id": "image",
         "label": "Imagen 972 x 538"
        },
        {
          "type": "text",
          "id": "tema",
          "label": "Categoria del blog",
          "default": "Categoria del blog"
        },
        {
          "type": "text",
          "id": "titulo",
          "label": "Titulo",
          "default": "Titulo"
        },
        {
          "type": "url",
          "id": "blog",
          "label": "Url Blog"
        }
       ]
     }
   ],
  "presets": [
     {
       "name": "Blog-post",
       "settings": {
          "title": "Blog-post"
        },
       "blocks": [
         {
           "type": "Slide"
         }
       ]
     }
   ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
