<br><br>
<div class="container">
  <div class="row">
    <div class="col-12 mt-0 mt-md-3 mb-4">
        <a href="/" class="me-1 text-end text-dark-gray">Inicio</a> / <a href="/pages/catalogo-digital" class="ms-1 text-end text-dark-gray fw-bold">Catalogo Digital</a>
    </div>
    <div class="col-12 col-md-5">
      <h1 class="fs-2 fw-bold text-dark-gray">Catálogos Digitales</h1>
      <div class="mt-2 mb-3" style="background: #6E7A8A; height: 2px"></div>
      <p class="text-dark-gray">Transforma tu hogar con nuestros muebles y colchones exclusivos, creando ambientes únicos y acogedores.</p>
    </div>
  </div>
</div>

<div class="container">
	<div class="row justify-content-center justify-content-md-start">
      {% for block in section.blocks %}
        {% assign box_share = "box-share--" | append: block.id %}
        {% assign cta_box_share = "cta-box-share--" | append: block.id %}
        {{ block_ref }}
        <div class="col-11 col-sm-6 col-md-4 col-lg-3 mb-4 mt-4 mt-md-0 position-relative">
              <div class="cont-btn-ver-ctg position-relative w-100">
                  <a class="d-flex align-items-center position-absolute w-100 h-100 rounded-top-15" href="{{ block.settings.page.url }}">
                    <button class="btn bg-white btn-ver-ctg rounded-pill text-dark-gray fw-bold lh-1 p-2 m-auto">Ver catálogo</button>
                  </a>
                <img class="img-fluid rounded-top-15" src="{{ block.settings.image | img_url:'master'}}" loading="lazy" class="" alt="..." />
              </div>
              <div class="card-catalogo">
                  <div class="bg-light-gray text-dark-gray w-100 text-center pb-1">
                    <p class="pt-2 mb-0"> Catálogo </p>
                    <p class="mb-0"><b>{{  block.settings.text }}</b></p>
                  </div>
                  <button class="bg-dark-gray border-0 rounded-bottom-15 align-items-center text-center text-decoration-none text-white w-100 pt-2 pb-2 mb-0 shareSocial">
                    <img class="mb-1" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/share-icon-white.svg"> Compartir
                    <div class="box-share bg-dark-gray ps-2 pe-2 pt-2 pb-2 position-absolute rounded-15 w-75 top-100 start-50 translate-middle d-none catalogoShare">
                      <p class="text-center text-white font-monospace fs-7 lh-1 mb-1">COMPARTIR EN</p>
                      <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic checkbox toggle button group">
                        <a class="ps-1 pe-1" href="https://api.whatsapp.com/send?text={% if block.settings.pdf != blank %}{{ block.settings.pdf }}{% else %}https://www.jamar.com.pa{{ block.settings.page.url }}{% endif %}" target="_blank">
                          <img src="https://cdn.shopify.com/s/files/1/0519/2695/8235/files/WhatsApp_d1d6d41e-143a-4526-8de1-329b893f74e9.svg?v=1626361648">
                        </a>
                        <a class="ps-1 pe-1" href="https://twitter.com/intent/tweet?text=Mira este catalogo de jamar&amp;url={% if block.settings.pdf != blank %}https://www.jamar.com.pa{{ block.settings.pdf }}{% else %}{{ block.settings.page.url }}{% endif %}" target="_blank">
                          <img src="https://cdn.shopify.com/s/files/1/0519/2695/8235/files/Twitter.svg?v=1626361369">
                        </a>
                        <a class="ps-1 pe-1" href="http://www.facebook.com/sharer.php?u={% if block.settings.pdf != blank %}{{ block.settings.pdf }}{% else %}https://www.jamar.com.pa{{ block.settings.page.url }}{% endif %}" target="_blank">
                          <img src="https://cdn.shopify.com/s/files/1/0519/2695/8235/files/Facebook.svg?v=1626361369">
                        </a>
                      </div>
                    </div>
                  </button>
              </div>
          </div>
      {% endfor %}
	</div>
</div>

<script type="text/javascript">
  {% assign max = section.blocks.size | minus: 1 %}
  {
    "@context":"https://schema.org",
    "@graph": [
      {% for block in section.blocks %}
        {
          "@type": "ImageObject",
          "@id ": "{{block.settings.image | img_url:'master'}}",
          "url": "{{block.settings.image | img_url:'master'}}",
          "contentUrl": "{{block.settings.image | img_url:'master'}}",
          "caption": "{{block.settings.text}}",
          "inLanguage": "es-PA",
          "width": 163,
          "height": 365
        }
        {%- if forloop.index0 >= 0 and forloop.index0 < max -%}
          ,
        {%- endif -%}
      {% endfor %}
    ]
  }
</script>

{% schema %}
  {
    "name": "Catalogo card",
    "settings": [
      
    ],
    "blocks": [
     {
       "name": "Tarjeta",
       "type": "card",
       "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Imagen"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Título"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Catálogo"
          },
          {
            "type": "url",
            "id": "pdf",
            "label": "Link del PDF"
          }
       ]
     }
   ],
  	"presets":[{
		"name":"Catalogo card",
		"category":"Catalogo card"
	}]
  }
{% endschema %}

<style>
  .cont-btn-ver-ctg a:hover {
    background: #363636c7;
  }
  .cont-btn-ver-ctg a:hover .btn-ver-ctg {
    display: block;
  }
  .btn-ver-ctg {
    display: none;
  }
</style>

{% javascript %}
{% endjavascript %}