{% if section.settings.desktop_width == 5 %}
  {% assign ncols = 24 %}
{% else %}
  {% assign ncols = 12 | divided_by: section.settings.desktop_width %}
{% endif %}
<br><br><br>
<div class="container skeleton" id="{{ section.settings.id_section }}">
  {% if section.settings.title != blank %}
    <div class="row justify-content-center m-0 m-md-4">
      <div class="col-11 col-md-8 p-0">
        <h2 class="text-center text-dark-gray mb-3">{{ section.settings.title }}</h2>
        {% if section.settings.text != blank %}
          <p class="text-dark-gray mt-2 text-center">{{ section.settings.text }}</p>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div class="row justify-content-{{ section.settings.cards_aligment }} {% if section.settings.section_type %}scroll-grid ms-xs-0 me-xs-0{% endif %}">
    {% for block in section.blocks %}
      {% if block.type == "card" %}
        <div class="col-6 col-sm-4 col-xl-{{ ncols }} mb-4">
          <a href="{{ block.settings.enlace }}" class="text-decoration-none">
            <div>
              <img class="shadow-hover-80 w-100 sk-categorias-grid" src="{{ block.settings.imagen | image_url: width: auto}}" data-rimg="lazy" loading="lazy"/>
              <a class="text-gris-jamar a-coleccion" href="{{ block.settings.enlace }}">
                {{ block.settings.textoimage | replace: '<p>', '<p class="mb-0">' }}
              </a>
            </div>
          </a>
        </div>
      {% elsif block.type == "outlet-card" %}
        <div class="col-6 col-sm-4 col-xl-{{ ncols }} mb-4">
            <a href="{{ block.settings.enlace}}">
              <div class="position-relative" >
                <img class="shadow-hover-40 sk-categorias-grid filter-5" src="{{ block.settings.imagen_sale | image_url: width: auto}}" data-rimg="lazy" loading="lazy"/>
                <p class="position-absolute top-50 start-50 translate-middle m-0 fs-2 w-auto border border-3 d-inline-block ps-4 pe-4 pt-2 pb-2"
                  style="color: {{ block.settings.color_text_outlet }};
                        border-color: {{ block.settings.color_text_outlet }} !important;">SALE</p>
                <a class="text-gris-jamar a-coleccion mb-0" href="{{ block.settings.enlace }}">{{ block.settings.textoimage }}</a>
              </div>
            </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
  {
    "name": "categorias-grid",
    "settings": [
      
    {
      "type": "text",
      "id": "id_section",
      "label": "ID de la seccion",
      "default": "categorias-grid",
      "info": "Si utilizas esta sección en más de una ocasión coloca un indicador de posición. Ejem: categorias-grid-1, categorias-grid-2"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Titulo"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Texto"
    },
       {
            "id": "section_type",
            "type": "checkbox",
            "label": "Activar scroll mobile"
          },
          {
            "type": "radio",
            "id": "cards_aligment",
            "label": "Alineación de tarjetas",
            "options": [
              {
                "value": "left",
                "label": "Izquierda"
              },
              {
                "value": "center",
                "label": "Centrado"
              }
            ],
            "default": "left"
            },
        {
          "type": "range",
          "id": "desktop_width",
          "min": 2,
          "max": 6,
          "step": 1,
          "label": "Ancho desktop",
          "default": 3
        }
    ],
     "blocks": [
      {
        "name": "Card",
        "type": "card",
        "settings": [
          {
            "type": "image_picker",
            "id": "imagen",
            "label": "Imagen de la tarjeta",
            "info": "300 x 300"
          }, {
            "id": "textoimage",
            "type": "richtext",
            "label": "Texto de la tarjeta",
            "default": "<p>Texto de la tarjeta</p>",
            "info": "El texto permite edición para agregar saltos de linea"
          }, {
            "type": "url",
            "id": "enlace",
            "label": "Link de la tarjeta",
            "info": "Insertar el enlace de la tarjeta"
          }
        ]
      },
       {
        "name": "Outlet Card",
        "type": "outlet-card",
        "settings": [
          {
            "type": "image_picker",
            "id": "imagen_sale",
            "label": "Imagen de la tarjeta",
            "info": "Subir la imagen el siguiente tamaño 300x300 (px)"
          }, {
            "id": "text_outlet_card",
            "type": "text",
            "label": "Texto de la tarjeta",
            "default": "OUTLET"
          },{
            "type": "color",
            "id": "color_text_outlet",
            "label": "Color del texto de la tarjeta",
            "default": "#E53327"
          },{
            "id": "textoimage",
            "type": "richtext",
            "label": "Texto opcional",
            "info": "Este texto es opcional"
          }, {
            "type": "url",
            "id": "enlace",
            "label": "Link de la tarjeta",
            "info": "Insertar el enlace de la tarjeta"
          }
        ]
      }
       
    ],
     "presets": [
      {
        "category": "categorias-grid",
        "name": "categorias-grid",
        "blocks": [
          {
            "type": "card"
         },
          {
            "type": "outlet-card"
         }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}