{% assign section = section.settings %}    

    <a class="d-flex justify-content-center align-items-center flex-column" style="background-color: {{ section.bg_color }} " 
        {% if link != "" %}
            href="{{ section.enlace }}"   
        {% endif %}
    >
        <picture class="w-100">
            <source media="(max-width: 900px)" srcset="{{ section.image_movil | image_url: width: "900" }}">
            <img class="w-100" src="{{ section.image_desktop | image_url: width: "1920" }}" alt="{{ section.image_desktop.alt }}">
        </picture>
        <p>{{ section.parrafo }}</p>
    </a>
{% schema %}
    {
        "name": "col-bg-img",
        "tag": "section",
        "class":"color-bg-img",
            "settings": [
            {
                "type": "text",
                "id": "parrafo",
                "label": "Parrafo en desktop"
            },
            {
                "type": "image_picker",
                "id": "image_desktop",
                "label": "Imagen Desk"
            },
            {
                "type": "image_picker",
                "id": "image_movil",
                "label": "Imagen móvil"
            },
            {
                "type": "url",
                "id": "enlace",
                "label": "Enlace del contenedor"
            },
            {
                "type": "color",
                "id": "bg_color",
                "default":"#B9A996",
                "label": "Enlace del contenedor"
            }
        ],
        "presets": [
            {
                "name": "col-bg-img"       
            }
        ]
    }
{% endschema %}