<style>

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .producto-link--carrousel,
  .producto-link--carrousel:hover {
    text-decoration: none;
    color: #404B5A;
  }

  .producto-link--carrousel {
    height: 420px;
    width: 275px;
    border-radius: 8px;
  }
  .producto-link--carrousel img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }



  .card-producto--carrousel {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.118);
    height: 420px;
    width: 275px;
    border-radius: 8px;
    position: relative;
  }
  .card-producto--carrousel .tag-discount {
    background-color: #FF3333;
    color: white;
    padding: 2px 5px;
    position: absolute;
    border-radius: 4px;
    font-size: 14px;
    right: 6px;
    top: 6px;
    font-weight: 800;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.118);
  }

  .card-producto--carrousel img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    height: 250px;
  }

  .card-producto--carrousel p img {
    width: 10px;
  }

  .contenedor-informacion--carrousel {
    padding: 0 12px;
  }

  .contenedor-informacion--carrousel h4 {
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0;
    text-align: left;
    margin: 11px 0 0;
    height: 30px;
  }

  .contenedor-informacion--carrousel p {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0;
    text-align: left;
    /* or 100% */
    color: #404B5A;
    margin-bottom: 10px;
  }

  .contenedor-informacion--carrousel p span {
    font-size: 14px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0;
    text-align: left;
    text-decoration: line-through;
    color: #6E7A8A;
  }

  .contenedor-informacion--carrousel .credijamar-texto-notified {
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0.02em;
    text-align: left;
    color: rgba(0, 181, 173, 1);
    margin-top: 20px;
    font-weight: 600;
  }

  .contenedor-informacion--carrousel p.cuota {
    font-size: 12px;
    padding: 0;
    margin-left: 0;
    align-items: bottom;
  }

  .contenedor-informacion--carrousel p.cuota img {
    height: 8px;
    width: 100px;
    padding: 0;
    margin: 0;
    object-fit: contain;
    object-position: left;
  }

  div.contenedor-scroll {
    padding-bottom: 20px;
  }

  /* width */
  .contenedor-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;

  }

  /* Track */
  .contenedor-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 8px;
  }

  /* Handle */
  .contenedor-scroll::-webkit-scrollbar-thumb {
    background: #404B5A;
    border-radius: 8px;
  }

  /* Handle on hover */
  .contenedor-scroll::-webkit-scrollbar-thumb:hover {
    background: rgb(65, 65, 65);
  }

  .title-carousel-products-sucursal {
    color: #404b5a;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: 400;
  }

  @media screen and (max-width:700px) {
    .title-carousel-products-sucursal {
      font-size: 22px;
    }
  }
</style>



{% assign products = section.settings.collections.products %}

<h1>

  {% if request.path == "/" %}
    {% assign prefijo = "home-" %}
  {% endif %}

  {% if request.path == "/" %}
    {% assign prefijo = "home-" %}
  {% endif %}

  <section class="{{prefijo}}-colecciones"></section>

</h1>

<div class="container">
  <div class="row">
    <h2 class="title-carousel-products-sucursal {{section.settings.position}}">{{ section.settings.titleCarousel }}</h2>
    {% if section.settings.descriptionCarousel %}
      <p class="{{section.settings.position}}">{{ section.settings.descriptionCarousel }}</p>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="row gap-4 overflow-auto flex-nowrap contenedor-scroll ms-md-0 ms-2">
    {% for product in section.settings.collections %}
      <span class="d-none">{% increment variable %}</span>
      {% assign var = product %}
      {% render "product-carrousel-item", producto: {{product}} %}
    {% endfor %}
    {% if section.settings.urlCardCarousel %}
      <a class="producto-link--carrousel p-md-0 p-0" href="{{ section.settings.urlCardCarousel }}">
        <img src="{{ section.settings.listProductImage | image_url: width: 275, height: 420 }}" alt="{{ section.settings.listProductImage.alt}}">
      </a>
    {% endif %}
  </div>
</div>

{% comment %}
/**********************************************************
VARIABLE PARA EL SERVICIO DE PRECIO
PATRYKSIM@GMAIL.COM
**********************************************************/
{% endcomment %}{% for product in products limit: 10 %}

  <script>
    skuLISTAS.push({{ product.selected_or_first_available_variant.sku |json }});
  </script>
{% endfor %}


{% comment %}  
SNIPPET QUE RENDERIZA EL SERVIVIO DE PRECIO DESDE EL API
----------------------------------------------------------------
Endpoint usado: https://8wrhzmlo68.execute-api.us-east-1.amazonaws.com/api/v1/JP/prices
{% endcomment %}

{% render 'cuotas-carrousel' %}



{% schema %}
  {
    "name": "Listado de productos",
    "tag": "section",
    "settings": [
      {
        "type": "product_list",
        "id": "collections",
        "label": "Seleccionar productos",
        "limit": 14
      },
      {
        "type": "text",
        "id": "titleCarousel",
        "label": "Titulo del carousel de productos",
        "default": "Muebles modernos y a crédito"
      },
      {
        "type": "text",
        "id": "descriptionCarousel",
        "label": "Descripcion del carousel de productos"
      },
      {
        "type": "image_picker",
        "id": "listProductImage",
        "label": "Imagen de la tarjeta"
      }, {
        "type": "text",
        "id": "banner_position",
        "label": "Posición del banner",
        "default": "2"
      }, {
        "type": "url",
        "id": "urlCardCarousel",
        "label": "Descripcion del carousel de productos"
      }, {
        "type": "select",
        "id": "position",
        "label": "Alineamiento del titulo",
        "options": [
          {
            "value": "text-center",
            "label": "Centro"
          }, {
            "value": "text-end",
            "label": "Derecha"
          }, {
            "value": "text-start",
            "label": "Izquierda"
          }
        ],
        "default": "text-start"
      }
    ],
    "presets": [
      {
        "name": "Listado de productos"
      }
    ]
  }
{% endschema %}