<div class="d-none d-md-block">
  <br><br><br>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 p-xs-0 mb-4">
            <div class="w-100 position-relative overflow-hidden">
                <img class="d-sm-none" src="{{ blogs["recientes"].articles[0].image.src | image_url: width: 450, height:500, format:'png', crop: 'center' }}" style="filter: brightness(0.7);" data-rimg="lazy" loading="lazy">
                <img class="w-100 d-none d-sm-block" src="{{ blogs["recientes"].articles[0].image.src | image_url: width: 650, height: 500, format: 'pjpg', crop:'center' }}" style="filter: brightness(0.7);" data-rimg="lazy" loading="lazy">
                <div class="position-absolute bottom-0 start-50 translate-middle-x text-center w-75 pb-3">
                    <p class="text-white text-uppercase">Estilos y colecciones</p>
                    <h3 class="text-white fw-bold">{{ blogs["recientes"].articles[0].title }}</h3>
                    <a class="btn bg-transparent rounded-pill border border-white border-2 text-white ps-4 pe-4" href="{{ blogs["recientes"].articles[0].url }}">Leer más</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="row">
                {% for article in blogs["recientes"].articles offset: 1 limit: 4 %}
                    <div class="col-6 mb-4">
                        <a class="into-container mb-2" href="{{ article.url }}">
                            <div class="overflow-hidden">
                                <img src="{{ article.image.src | image_url: width: 400, height: 245, format: 'pjpg', crop:'center'  }}" alt="Imagen destacada del articulo" data-rimg="lazy" loading="lazy">
                            </div>
                            <h3 class="d-none d-md-block fs-md-7 fs-7 text-dark-gray fw-bold mt-1 mb-0">{{ article.title | truncate: 100  }}</h3>
                            <h3 class="d-block d-md-none fs-md-7 fs-7 text-dark-gray fw-bold mt-1 mb-0">{{ article.title | truncate: 45  }}</h3>
                            <!--h3 class="fs-md-7 fs-6 text-dark-gray fw-bold mt-1 mb-0">{{ article.title | truncate: 35 }}</h3-->
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
