<br><br><br>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% for block in section.blocks %}
                <h2 class="fw-bold text-dark-gray">{{ block.settings.blog.title }}</h2>
                <hr class="bg-dark-gray">
                <div class="row mb-4">
                    {% for article in block.settings.blog.articles limit: 4 %}
                        <div class="col-6 mb-4">
                            <div class="w-100 overflow-hidden">
                                <a href='{{ article.url }}'>
                                    <img class="w-100" src="{{ article.image.src | image_url: width: 381, height: 250, format:'png', crop:'center' }}" data-rimg="lazy" loading="lazy">
                                    <h3 class="d-none d-md-block fs-md-7 fs-7 text-dark-gray fw-bold mt-1 mb-0">{{ article.title | truncate: 100  }}</h3>
                                    <h3 class="d-block d-md-none fs-md-7 fs-7 text-dark-gray fw-bold mt-1 mb-0">{{ article.title | truncate: 45  }}</h3>
                                </a>  
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <ul class="ps-md-4">
                {% for block in section.blocks %}
                    {% for article in block.settings.blog.articles %}
                        <li class="mb-3">
                          <a href="{{ article.title }}"><h3 class="fs-md-6 fs-6 text-dark-gray fw-bold mt-1 mb-0">{{ article.title }}</h3></a>
                        </li>              
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Previa categorias Blog",
    "settings": [
        {
          "type": "image_picker",
          "id": "hover_image",
          "label": "Imagen"
        }
    ],
  "blocks": [
     {
       "name": "blogs",
       "type": "blog_type",
       "settings": [
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        }
       ]
     }
   ],
      "presets": [
        {
        "name": "Previa categorias Blog"
        }
      ]
  }
{% endschema %}