<br>
<div class="container" id="{{ section.settings.id_section }}">
  {% if section.settings.title != blank %}
    <div class="row justify-content-center m-0 m-md-4">
      <div class="col-11 col-md-8 p-0">
        <h2 class="text-center text-dark-gray mb-3">{{ section.settings.title }}</h2>
        {% if section.settings.text != blank %}
          <p class="text-dark-gray mt-2 text-center">{{ section.settings.text }}</p>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <ul class="faq"> 
    {% for block in section.blocks %}
    {% capture blockId %}{{ block.id }}{% endcapture %}
    <li>
      <div class="question" id="heading-{{ forloop.index }}">
        <h5>{{ block.settings.question_title }}</h5>  
      </div>
      <div class="answer">
        {{ block.settings.question_desc }}
      </div>
    </li>
    {% endfor %}
   </ul>
</div>

{% schema %}
  {
  "name": "preguntas-frecuentes",
  "settings": [
      {
        "type": "text",
        "id": "id_section",
        "label": "ID de la seccion",
        "default": "preguntas-frecuentes"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Titulo"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Texto"
      }
    ],
    "blocks": [
      {
        "type": "question",
        "name": "Question",
        "settings": [
          {
            "type": "text",
            "id": "question_title",
            "label": "Question Title" 
          },
          {
            "type": "richtext",
            "id": "question_desc",
            "label": "Question Description"
          }
        ]
      }
    ],
    "presets": [
       {
         "name": "preguntas-frecuentes",
         "blocks": [
           {
             "type": "question"
           }
         ]
       }
     ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
