{{ 'section-parrafo-col.css'  | asset_url | stylesheet_tag }}


<div class="container-parrafo-con-fondo">
    <p>{{section.settings.collection_parrafo}} </p>
    <a class="buttonWpp" style="background-color: {{ section.settings.color_butt_wha }};" href="{{ section.settings.url_whatsapp }}" ">
      <img
        width="20px"
        src="https://cdn.shopify.com/s/files/1/0519/2695/8235/files/whatsapp-glyph-black_1.png?v=1668093853"
        alt="logo-whatsapp" data-rimg="lazy" loading="lazy"
      >
      ¡Un asesor experto te espera!
    </a>
</div>
<img width="100%" src="{{ section.settings.imagen_link | image_url : width: auto}}" alt="{{ section.settings.imagen_link.alt }}" data-rimg="lazy" loading="lazy">


    {% schema %}
    {
       "name":"Parrafo Coleccion btn",
       "class":"section-parrafo-colecciones",
       "settings": [
        {
            "type":"text",
            "id":"collection_parrafo",
            "label":"Colocar el parrafo"
        },
        {
            "type":"image_picker",
            "id":"imagen_link",
            "label":"Colocar el link del video"
        },
        {
            "type":"url",
            "id":"url_whatsapp",
            "label":"Colocar el link del whatsapp"
        },
        {
        "type": "select",
        "id": "color_butt_wha",
        "label": "Color boton whatsapp",
        "options": [
                     {
                       "value": "#B8A789",
                       "label": "Alma"
                     },
                     {
                       "value": "#A7977E",
                       "label": "Lumina"
                     }
              ],
                  "default": "#A7977E"
          }
       ],
       "presets":[
        {
            "name":"Parrafo Coleccion btn"
        }
       ]
    }
    {% endschema %}