{{ 'section-video-imagenes.css'  | asset_url | stylesheet_tag }}

    <div class="bottom-imagen-contenedor" style="margin-top: 0px;">
        <img src="{{ section.settings.imagen_link1 | image_url : width: auto}}" alt="{{ section.settings.imagen_link1.alt }}">
        <img src="{{ section.settings.imagen_link2 | image_url : width: auto}}" alt="{{ section.settings.imagen_link2.alt }}">
        <img src="{{ section.settings.imagen_link3 | image_url : width: auto}}" alt="{{ section.settings.imagen_link3.alt }}">
    </div>


{% schema %}
    {
        "name":"Imgs 3 col",
        "class":"contenedor-video-imagenes",
        "settings": [
            {
                "type":"image_picker",
                "id":"imagen_link1",
                "label":"Colocar la imagen 1"
            },
            {
                "type":"image_picker",
                "id":"imagen_link2",
                "label":"Colocar la imagen 2"
            },
            {
                "type":"image_picker",
                "id":"imagen_link3",
                "label":"Colocar la imagen 3"
            }
        ],
        "presets":[
        {
            "name":"Imgs 3 col"
        }
        ]
    }
{% endschema %}