{{ 'section-titles-col.css'  | asset_url | stylesheet_tag }}

<div class="contenedor-titulos-seccion-detalles-iluminan style-2">
    <h2 class="style-2">{{section.settings.collection_title}}</h2>
    <p>{{section.settings.collection_parrafo}}</p>
</div>

<div class="banner-video-large">
  {% if section.settings.product != blank %}
    <a href="{{ section.settings.product.url }}">
        <img class="w-100" src="{{ section.settings.image_1_desktop | img_url:'master' }}">
    </a>
  {% else %}
    <img class="w-100" src="{{ section.settings.image_1_desktop | img_url:'master' }}">
  {% endif %}
</div>


    {% schema %}
    {
       "name":"Titulos Coleccion img",
       "class":"section-titulos-colecciones",
       "settings": [
        {
            "type":"text",
            "id":"collection_title",
            "label":"Colocar el titulo"
        },
        {
            "type":"text",
            "id":"collection_parrafo",
            "label":"Colocar el parrafo"
        },
        {
        "type": "product",
        "id": "product",
        "label": "Url producto"
      },
      {
        "type": "image_picker",
        "id": "image_1_desktop",
        "label": "Imagen del producto Desktop"
      }
        
       ],
       "presets":[
        {
            "name":"Titulos Coleccion img"
        }
       ]
    }
    {% endschema %}
