<script
  type="application/json"
  data-section-type="static-collection"
  data-section-id="{{ section.id }}"
  data-section-data
>
  {
    "context": {
      "see_more": {{ 'general.general.see_more' | t | json }},
      "see_less": {{ 'general.general.see_less' | t | json }},
      "grid_list": {{ section.settings.default_view | json }},
      "collectionUrl": {{ collection.url | default: '/collections/all' | json }}
    }
  }
</script>

{{ 'novedades.css'  | asset_url | stylesheet_tag }}

{% assign show_sidebar = false %}
{% assign show_filters = true %}
{% assign show_filter_trigger = false %}

{% if section.settings.filter_style == 'none' %}
  {% assign show_filters = false %}
{% endif %}

{% if section.settings.show_sidebar %}
  {% comment %}
    Sidebar toggle is used on mobile only, and will only show Filters
  {% endcomment %}

  {% if collection.all_tags.size > 0 and show_filters %}
    {% assign show_filter_trigger = true %}
  {% endif %}

  {% if section.blocks.size > 0 or collection.all_tags.size > 0 and show_filters %}
    {% comment %}
      Sidebar to show only if there are tags in the collection, or there are menus
    {% endcomment %}
    {% assign show_sidebar = true %}
  {% endif %}
{% endif %}



{%- capture collection_classes -%}
  {% if show_sidebar %}
    layout--has-sidebar
  {% else %}
    layout--no-sidebar
  {% endif %}

  {% if section.settings.default_view == 'grid-view' %}
    productgrid-gridview
  {% else %}
    productgrid-listview
  {% endif %}
{%- endcapture -%}

<br>
{% render 'breadcrumbs' %}
<br>
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-gris-jamar m-0 text-center">{{ section.settings.title }}</h2>
      <p class="text-gris-jamar mt-2 text-center">{{ section.settings.text }}</p>
    </div>
    <center class="col-12 mb-2">
      <img class="arrow-movil" style="-webkit-animation: mover 1s infinite alternate; animation: mover 1s infinite alternate;" src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/flechas-abajo_31763cc1-16d5-43d9-b807-cfece700a06a.svg?v=1669150439" data-rimg="lazy" loading="lazy">
    </center>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center gap-3" id="products-list">
    {% paginate collection.products by 8 %}
      <div class="container d-flex flex-column">
        {% assign sorted_tags = "Recámaras, Salas, Comedores, Colchones, Muebles para TV y Escritorios" | split: ", " %}
        <div class="row">
          <div class="col-12 d-flex justify-content-md-around justify-content-start">
            <div class="container-filters--oferta">

              {% for block in section.blocks %}
                <a class="" href="{{ collection.url }}/{{ block.settings.filtro_tag | handleize }}">
                  <button class="filter--action filter-item" data-filter="{{block.settings.filtro_tag}}
                          {% if current_tags contains filtro_tag %}aria-current="true"{% endif %}">
                    {% if block.settings.imagen %}
                        {{block.settings.imagen | img_tag: img_url }}
                    {% endif %}
                    {{block.settings.texto}}
                  </button>
                </a>
              {% endfor %}

      
              {% comment %}
              {% for tag in sorted_tags %}
                <a class="" href="{{ collection.url }}/{{ tag | handleize }}">
                  <button class="filter--action filter-item" data-filter="{{ tag | handle }}"
                          {% if current_tags contains tag %}aria-current="true"{% endif %}>
                    <img src="//cdn.shopify.com/s/files/1/0516/5478/7271/files/recamara_small.svg?v=1678375881" data-rimg="lazy" loading="lazy">
                    {{ tag }}
                  </button>
                </a>
              {% endfor %}
                <a class="" href="{{ collection.url }}">
                  <button class="filter--action filter-item">
                    <img src="//cdn.shopify.com/s/files/1/0516/5478/7271/files/recamara_small.svg?v=1678375881" data-rimg="lazy" loading="lazy">
                    VER TODOS
                  </button>
                </a>
              {% endcomment %}
      
            </div>
          </div>
        </div>
      </div>
      {% if collection.products.size > 0 %}
        {% for product in collection.products %}
          <div class="tarjeta-producto--mosaic col-md-3" data-mosaic-sku="{{ product.selected_or_first_available_variant.sku }}" data-product-tags="{{product.tags}}">
              <div class="tarjeta-details"><img src="{{product.images[0] | img_url: '800x800', format: 'pjpg' }}" alt="" data-rimg="lazy" loading="lazy">
                  <h4 class="product-title mb-1">{{ product.title }}</h4>
                  <p class="prices"><del> {{ product.compare_at_price | money }} </del> {{ product.price | money}}
                      {% if product.compare_at_price %}
                          <span class="badge bg-danger ms-1" style="border-radius: 10px;background-color: #EC1C24;"> {{ product.compare_at_price | minus: product.price | times: 100.0 | divided_by: product.compare_at_price | round}}% Dcto</span>
                      {% endif %}
                  </p>
                  <p class="container-cuota--mosaic"></p>
                  <p class="advertising">NUESTROS PRECIOS INCLUYEN ITMBS</p>
              </div><a href="{{product.url}}" class="btn-comprar"><img src="https://cdn.shopify.com/s/files/1/0516/5478/7271/files/icono-carrito.svg?v=1657296910" data-rimg="lazy" loading="lazy"> Comprar ahora</a>
          </div>
        {% endfor %}
      {% else %}
        <div class="productgrid--no-results">
          <h2 class="productgrid--no-results-title">
            {%- if collection.all_products_count == 0 -%}
              {{ 'product_grid.no_results.empty' | t }}
            {%- else -%}
              {{ 'product_grid.no_results.tags_empty' | t }}
            {%- endif -%}
          </h2>
          <a class="" href="{{ collection.url }}">
            <button type="button" class="btn bg-gris-jamar text-white rounded-pill mt-4">
               Seguir explorando ofertas
            </button>
          </a>
        </div>
      {% endif %}
      {%- if paginate.pages > 1 -%}
        <nav>
          <ul class="pagination justify-content-center">
            {%- if paginate.previous-%}
              <li class="page-item p-2"><a href="{{ paginate.previous.url }}" class="page-link text-gris-jamar"><span aria-hidden="true">&laquo;</span></a></li>
            {%- else -%}
              <li class="disabled p-2"><span aria-hidden="true">&laquo;</span></li>
            {%- endif -%}
            {% for part in paginate.parts -%}
              {% if part.is_link -%}
                <li class="page-item p-2"><a href="{{ part.url }}" class="page-link text-gris-jamar">{{ part.title }}</a></li>
              {%- else -%}
                <li class="page-item p-2"><span class="page-link bg-gris-jamar text-white">{{ part.title }}</span></li>
              {% endif %}
            {%- endfor %}
            {%- if paginate.next-%}
              <li class="page-item p-2"><a href="{{ paginate.next.url }}" class="page-link text-gris-jamar"><span aria-hidden="true">&raquo;</span></a></li>
            {%- else -%}
              <li class="disabled p-2"><span aria-hidden="true">&raquo;</span></li>
            {%- endif -%}
          </ul>
        </nav>
      {%- endif -%}
    {% endpaginate %}
  </div>
</div>

{{ 'prices-library.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "Static col ofertas2",
  "class": "collection--section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titulo"
    },
    {
      "type": "text",
      "id": "text",
      "label": "Texto"
    }
  ],
  "blocks":[
      {
        "name":"filtros",
        "type":"block",
        "settings": [
            {
                "type": "image_picker",
                "id": "imagen",
                "label": "Icono"
            },
            {
                "type": "text",
                "id": "texto",
                "label": "Texto"
            },
            {
                "type": "text",
                "id": "filtro_tag",
                "label": "Etiqueta a filtrar"
            }
        ]
      }
  ],
  "presets": [
    {
    "name": "Static col ofertas2"
    }
  ]
}

{% endschema %}