{% comment %} Seccion de variables {% endcomment %}
{% assign config = section.settings %}

<a href="{{ config.video_link }}">
  <video
    class="w-100 mt-5 mb-5 responsiveContent"
    data-video-movil="{{ config.video_movil.sources[1].url }}"
    data-video-desktop="{{ config.video.sources[1].url }}"
    autoplay=""
    loop=""
    muted="">
    <source
      src="{{ config.video.sources[1].url }}"
      type="video/mp4"
      data-video-movil="{{ config.video_movil.sources[1].url }}"
      data-video-desktop="{{ config.video.sources[1].url }}" />
  </video>
</a>

<script>
  function toggleDataContent(mq) {
    const elements = document.querySelectorAll('.responsiveContent');
    elements.forEach(element => {
      if (mq.matches) {
        let valorDelContenidoResponsivo = element.dataset.videoMovil;
        element.src = valorDelContenidoResponsivo;
      } else {
        let valorDelContenidoDektop = element.dataset.videoDesktop;
        element.src = valorDelContenidoDektop;
      }
    });
  }
  const mediaQuery = window.matchMedia("(max-width: 750px)");
  toggleDataContent(mediaQuery);
  mediaQuery.addListener(toggleDataContent);
</script>


{% schema %}
  {
    "name": "video-and-link",
    "class": "video-and-link",
    "settings": [
      {
        "type": "video",
        "id": "video",
        "info": "Adjuntar los enlaces de video",
        "label": "Adjuntar video"
      }, {
        "type": "video",
        "id": "video_movil",
        "info": "Adjuntar los enlaces de video",
        "label": "Adjuntar video para version movil"
      }, {
        "type": "url",
        "id": "video_link",
        "label": "Insertar vinculo de la imagen",
        "info": "Insertar los enlaces de los videos"
      }, {
        "type": "text",
        "id": "id_tagging",
        "label": "Agregar el id de tagging"
      }
    ],
    "presets": [
      {
        "name": "video-and-link"
      }
    ]
  }
{% endschema %}